<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>自然有你后台管理系统-待审核活动</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <link rel="stylesheet" th:href="@{/css/font.css}" href="../../static/css/font.css">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}" href="../../static/css/xadmin.css">


</head>
<body>
    <!-- 顶部开始 -->
    <div th:replace="admin/_fragments :: nav('自然有你后台管理系统——待审核活动')"  class="container">
        <div class="logo"><a href="admin_index.html">自然有你后台管理系统——待审核活动</a></div>
        <div class="open-nav"><i class="iconfont">&#xe699;</i></div>
        <ul class="layui-nav right" lay-filter="">
          <li class="layui-nav-item">
            <a href="javascript:;">admin</a>
            <dl class="layui-nav-child"> <!-- 二级菜单 -->
              <dd><a href="">个人信息</a></dd>
              <dd><a href="">切换帐号</a></dd>
              <dd><a href="admin_login.html">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="/">前台首页</a></li>
        </ul>
    </div>
    <!-- 顶部结束 -->
    <!-- 中部开始 -->
    <div class="wrapper">
        <!-- 左侧菜单开始 -->
        <div th:replace="admin/_fragments :: left_nav" class="left-nav">
          <div id="side-nav">
            <ul id="nav">
                <li class="list" current>
                    <a href="admin_index.html">
                        <i class="iconfont">&#xe761;</i>
                        欢迎页面
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                </li>
                <li class="list">
                    <a href="javascript:;">
                        <i class="iconfont">&#xe70b;</i>
                        用户管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="member-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                用户列表
                            </a>
                        </li>
                        <li>
                            <a href="member-del.html">
                                <i class="iconfont">&#xe6a7;</i>
                                用户删除
                            </a>
                        </li>
                        <li>
                            <a href="member-level.html">
                                <i class="iconfont">&#xe6a7;</i>
                                等级管理
                            </a>
                        </li>
                        <li>
                            <a href="member-kiss.html">
                                <i class="iconfont">&#xe6a7;</i>
                                积分管理
                            </a>
                        </li>
                        <li>
                            <a href="member-view.html">
                                <i class="iconfont">&#xe6a7;</i>
                                待审核用户
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        活动管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a th:href="@{/admin/activity/list}" href="activity-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                活动列表
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/admin/activity/notcheck}" href="activity-readyPass.html">
                                <i class="iconfont">&#xe6a7;</i>
                                待审核的活动
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="blog-list.html">
                        <i class="iconfont">&#xe6a3;</i>
                        日志管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <!--<ul class="sub-menu" style="display:none">
                        <li>
                            <a href="banner-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                日志列表
                            </a>
                        </li>
                    </ul>-->
                </li>
				<li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        评论管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="comment-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                父评论列表
                            </a>
                        </li>
						<li>
                            <a href="comment-child-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                子评论列表
                            </a>
                        </li>
                    </ul>
                </li>
				<li class="list" >
                    <a href="#">
                        <i class="iconfont">&#xe6a3;</i>
                        广告管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    
                </li>
                <li class="list" >
                    <a href="#">
                        <i class="iconfont">&#xe6a3;</i>
                        管理员管理
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <!--<ul class="sub-menu" style="display:none">
                        <li>
                            <a href="banner-list.html">
                                <i class="iconfont">&#xe6a7;</i>
                                管理员列表
                            </a>
                        </li>
                    </ul>-->
                </li>
                <li class="list" >
                    <a href="javascript:;">
                        <i class="iconfont">&#xe6a3;</i>
                        系统统计
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    <ul class="sub-menu" style="display:none">
                        <li>
                            <a href="echarts1.html">
                                <i class="iconfont">&#xe6a7;</i>
                                拆线图
                            </a>
                        </li>
                        <li>
                            <a href="echarts2.html">
                                <i class="iconfont">&#xe6a7;</i>
                                柱状图
                            </a>
                        </li>
                        <li>
                            <a href="echarts3.html">
                                <i class="iconfont">&#xe6a7;</i>
                                地图
                            </a>
                        </li>
                        <li>
                            <a href="echarts4.html">
                                <i class="iconfont">&#xe6a7;</i>
                                饼图
                            </a>
                        </li>
                        <li>
                            <a href="echarts5.html">
                                <i class="iconfont">&#xe6a7;</i>
                                k线图
                            </a>
                        </li>
                        <li>
                            <a href="echarts6.html">
                                <i class="iconfont">&#xe6a7;</i>
                                仪表图
                            </a>
                        </li>
                        <li>
                            <a href="http://echarts.baidu.com/examples.html">
                                <i class="iconfont">&#xe6a7;</i>
                                更多案例
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="list" >
                    <a href="#">
                        <i class="iconfont">&#xe6a3;</i>
                        系统设置
                        <i class="iconfont nav_right">&#xe697;</i>
                    </a>
                    
                </li>
            </ul>
          </div>
        </div>
        <!-- 左侧菜单结束 -->
        <!-- 右侧主体开始 -->
        <div class="page-content">
          <div class="content">
            <!-- 右侧内容框架，更改从这里开始 -->
              <form class="layui-form xbs" action="" method="get"   th:action="@{/admin/activity/notcheck/search}">
                  <div class="layui-form-pane" style="text-align: center;">
                      <div class="layui-form-item" style="display: inline-block;">
                          <label class="layui-form-label xbs768">日期范围</label>
                          <div class="layui-input-inline xbs768">
                              <input class="layui-input"  name="actStartDate1" placeholder="开始日" required type="date" id="LAY_demorange_s">
                          </div>
                          <div class="layui-input-inline xbs768">
                              <input class="layui-input"  name="actStartDate2"  placeholder="截止日" required type="date"  id="LAY_demorange_e">
                          </div>
                          <div class="layui-input-inline">
                              <input type="text" name="actName"   required placeholder="请输入活动名称" autocomplete="off" class="layui-input">
                          </div>
                          <div class="layui-input-inline" style="width:80px">
                              <button class="layui-btn" type="submit" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                          </div>
                      </div>
                  </div>
              </form>
              <xblock><button class="layui-btn layui-btn-danger" style="background: #219E34;"><i class="layui-icon">&#xe618;</i>批量通过</button><span class="x-right" style="line-height:40px">共有数据：[[${pageInfo.total}]] 条</span></xblock>
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                           
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            活动名称
                        </th>
                        <th>
                            活动发起人
                        </th>
                        <th>
                            活动开始时间
                        </th>
                        <th>
                            活动结束时间
                        </th>
                        <th>
                            地点
                        </th>
                        <th>
                            分类
                        </th>
                        <th>
                            状态
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr  th:each="activity : ${pageInfo.list}">
                    <td>
                        <input type="checkbox" value="1" name="">
                    </td>
                    <td  th:text="${activity.actId}">
                        1
                    </td>
                    <td >
                        <u  th:text="${activity.actName}" style="cursor:pointer"   th:onclick="activity_show([[${activity.actName}]],[[@{/admin/activity/show/{actId}(actId=${activity.actId})}]],'10001','600','500')" onclick="activity_show('活动名称','activity-show.html','10001','600','500')">
                            植树活动
                        </u>
                    </td>
                    <td th:text="${activity.actPromoter.userName}">
                        user11111
                    </td>
                    <td th:text="${#dates.format(activity.actStartDate,'yyyy-MM-dd HH:mm:ss')}">
                        2020-5-12
                    </td>
                    <td th:text="${#dates.format(activity.actDeadLine,'yyyy-MM-dd HH:mm:ss')}">
                        2020-6-12
                    </td>
                    <td th:text="${activity.actPlace}">
                        北京市 海淀区
                    </td>
                    <td th:text="${activity.actTag.tagName}">
                        植树防沙
                    </td>
                        <td class="td-status">
                            <span th:text="${activity.actIsCheck == 1?'已审核':'待审核'}" class="layui-btn layui-btn-normal layui-btn-mini">
                                待审核
                            </span>
                        </td>
                        <td class="td-manage">
							<a style="text-decoration:none" th:onclick="activity_pass(this,[[${activity.actId}]])" onclick="activity_pass(this,'10001')" href="javascript:;" title="通过">
                                <i class="layui-icon">&#xe618;</i>
                            </a>
                            
                            <a title="删除" href="javascript:;" 
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
              <div class="page_number_div">
        <span class="pageinfo">
            共<label id="total" th:text="${pageInfo.total}"></label>条/
            <label th:text="${pageInfo.pages}" style="color: red"></label>页
        </span>

                  <a th:href="@{${pageRequest}(pageNum=${1})}"  >首页</a>
                  <a th:if="${pageInfo.pageNum>1}" th:href="@{${pageRequest}(pageNum=${pageInfo.pageNum - 1})}" >上一页</a>

                  <b th:each="nav:${pageInfo.navigatepageNums}">
                      <a th:href="@{${pageRequest}(pageNum=${nav})}" class="page_number" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
                      <a href="#" class="page_number_live" th:if= "${nav == pageInfo.pageNum}" th:text="${nav}"></a>
                  </b>

                  <a th:if="${pageInfo.pageNum<pageInfo.pages}"  th:href="@{${pageRequest}(pageNum=${pageInfo.pageNum + 1})}"> 下一页</a>
                  <a th:href="@{${pageRequest}(pageNum=${pageInfo.pages})}">尾页</a>
              </div>

              <!-- 右侧内容框架，更改从这里结束 -->
          </div>
        </div>
        <!-- 右侧主体结束 -->
    </div>
    <!-- 中部结束 -->
    <!-- 底部开始 -->
    <div class="footer">
        <div class="copyright">Copyright ©2020 自然有你 All Rights Reserved.</div>  
    </div>
    <!-- 底部结束 -->
    <!-- 背景切换开始 -->
    <div class="bg-changer">
        <div class="swiper-container changer-list">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img class="item" th:src="@{/images/a.jpg}" src="../../static/images/a.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/b.jpg}" src="../../static/images/b.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/c.jpg}" src="../../static/images/c.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/d.jpg}" src="../../static/images/d.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/e.jpg}" src="../../static/images/e.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/f.jpg}" src="../../static/images/f.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/g.jpg}" src="../../static/images/g.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/h.jpg}" src="../../static/images/h.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/i.jpg}" src="../../static/images/i.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/g.jpg}" src="../../static/images/j.jpg" alt=""></div>
                <div class="swiper-slide"><img class="item" th:src="@{/images/k.jpg}"  src="../../static/images/k.jpg" alt=""></div>
                <div class="swiper-slide"><span class="reset">初始化</span></div>
            </div>
        </div>
        <div class="bg-out"></div>
        <div id="changer-set"><i class="iconfont">&#xe696;</i></div>
    </div>
    <!-- 背景切换结束 -->
    <!-- 页面动态效果 -->



    <!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
    <script    type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script    type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script th:src="@{/lib/layui/layui.js}"   src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript"   th:src="@{/js/xadmin.js}"     src="../../static/js/xadmin.js"></script>
    <!--/*/</th:block>/*/-->

    <script th:inline="javascript">

        // layui.use(['laydate'], function(){
        //     laydate = layui.laydate;//日期插件
        //
        //     //以上模块根据需要引入
        //     //
        //
        //
        //
        //     var start = {
        //         min: laydate.now()
        //         ,max: '2099-06-16 23:59:59'
        //         ,istoday: false
        //         ,choose: function(datas){
        //             end.min = datas; //开始日选好后，重置结束日的最小日期
        //             end.start = datas //将结束日的初始值设定为开始日
        //         }
        //     };
        //
        //     var end = {
        //         min: laydate.now()
        //         ,max: '2099-06-16 23:59:59'
        //         ,istoday: false
        //         ,choose: function(datas){
        //             start.max = datas; //结束日选好后，重置开始日的最大日期
        //         }
        //     };
        //
        //     document.getElementById('LAY_demorange_s').onclick = function(){
        //         start.elem = this;
        //         laydate(start);
        //     }
        //     document.getElementById('LAY_demorange_e').onclick = function(){
        //         end.elem = this
        //         laydate(end);
        //     }
        //
        // });

        /*活动-查看*/
        function activity_show(title,url,id,w,h){
            x_admin_show(title,url,w,h);
        }
        function activity_pass(obj,id){
            layer.confirm('确认要通过审核吗？',function(index){
                //发异步把用户状态进行更改
                $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">已通过</span>');


                $.ajax({
                    type: "POST",
                    url: "/admin/activity/check",
                    contentType: 'application/json',
                    timeout : 20000,
                    data: JSON.stringify({
                        "actId": id,
                        "actIsCheck":1
                    }),
                    success: function (result) {
                        // alert(result.toString())
                        console.log(result);
                        if(result.toString()=='success'){//
                            $(obj).remove();
                            layer.msg('已审核!',{icon: 6,time:1000});

                        }else{
                            layer.msg("审核失败");
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        layer.msg("错误：审核失败")
                    }
                })
            });
        }
    </script>

</body>
</html>