<!DOCTYPE html>
<!-- Website template form http://www.mycodes.net/ -->
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
	<meta charset="UTF-8">
	<title>活动列表</title>
	<link rel="stylesheet"   th:href="@{/css/style.css}" href="../static/css/style.css" type="text/css">
</head>
<body>
	<div class="header" th:replace="_fragments :: menu(3)">
		<div>
			<a href="index.html" id="logo"><img src="../static/images/logo.png" alt="logo"></a>
			<div>
				<div class="rightTop">
				<div class="search">
				<form>
					<input type="search"  id="input_search"/>
					
				</form>
				
				</div>
					<img src="../static/images/search.png" class="search_img" alt="搜索">
					<div class="login">
						
						&nbsp;&nbsp;
						<a href="login.html">登录</a>
						<a href="register.html">注册</a>
					</div>
				</div>
				<ul>
					<li class="selected">
						<a href="index.html">首页</a>
					</li>
					<li>
						<a href="blog.html">新闻</a>
					</li>
					<li>
						<a href="activity.html">活动</a>
					</li>
					<li>
						<a href="gallery.html">图库</a>
					</li>
					<li>
						<a href="contact.html">联系我们</a>
					</li>
					<li>
						<a href="#">互动</a>
					</li>
					<li>
						<a href="#">我的</a>
					</li>
					
					
				</ul>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="programs">
			<h2>活动列表</h2>
			<a th:href="@{/activity/map}" href="map.html" class="map_link"><button>地图查找</button></a>
			<div class="activity_display">
				<ul>
					<li th:each="activity : ${pageInfo.list}">
						<div>
						<a   th:href="@{/toActivityDetail/{actId}(actId=${activity.actId})}"  href="activity_detail.html"><img th:src="@{${activity.actImg}}"  src="../static/images/blog-post1.jpg"></a>
							<p class="activity_title" th:text="${activity.actName}">我为大自然代言</p>
							<br>
							<img th:src="@{/images/time.JPG}" src="../static/images/time.JPG" alt="时间" class="time_img"/><span class="span_class" th:text="${#dates.format(activity.actStartDate,'yyyy-MM-dd HH:mm:ss')}">3月27号 0：00开始</span>
							<br>
							<img th:src="@{/images/location.JPG}" src="../static/images/location.JPG" alt="位置" class="location_img"/>
							<span class="span_class" th:text="${activity.actPlace}">山东 青岛</span><span class="state_class" th:text="${activity.actStatus.statusName}">招募中</span>
							<br>
							<hr style="height:1.5px;border:none;border-top:1.5px solid #555555; opacity: 0.3; color: grey"  >
						</div>
					</li>

				</ul>
				
			</div>
			
			<div class="sidebar">
				<div>
					<h4>活动类别分类</h4>
					<ul>

						<li th:each="tag:${tags}" style="display: inline-block; width: 65px;margin: 1px" >
							<a  th:href="@{/activityByTag/{tagId}(tagId=${tag.tagId})}" href="activity.html" th:text="${tag.tagName}">植树防沙</a>
						</li>
<!--						<li th:each="tag0:${tags}"  th:each="tag:${tags}">-->
<!--							<a  th:href="@{/activityByTag/{tagId}(tagId=${tag.tagId})}" href="activity.html">植树防沙</a>-->
<!--							<a href="activity.html" style="margin-left: 20px;">海洋保护</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="activity.html">垃圾分类</a>-->
<!--							<a href="activity.html" style="margin-left: 20px;">清洁水源</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="activity.html">动物保护</a>-->
<!--							<a href="activity.html" style="margin-left: 20px;">培训讲座</a>-->
<!--						</li>-->
						
					</ul>
				</div>
				<div>
					<h4>活动状态分类</h4>
					<ul>



						<li th:each="status:${statuses}" style="display: inline-block; width: 65px;margin: 1px" >
							<a  th:href="@{/activityByStatus/{statusId}(statusId=${status.statusId})}" href="activity.html" th:text="${status.statusName}">准备招募</a>
						</li>
<!--						<li>-->
<!--							<a href="activity.html">准备招募</a>-->
<!--							<a href="#" style="margin-left: 20px;">正在招募中</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="activity.html">招募完成</a>-->
<!--							<a href="activity.html" style="margin-left: 20px;">正在进行中</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="activity.html">已结束</a>-->
<!--						</li>-->
					</ul>
				</div>
				<div>
					<h4>时间分类</h4>
					<ul>

						<li th:each="year:${years}" style="display: inline-block; width: 65px;margin: 1px" >
							<a  th:href="@{/activityByYear/{startYear}(startYear=${year})}" href="activity.html" th:text="${year}">2020</a>
						</li>

<!--						<li>-->
<!--							<a href="activity.html">2020</a>-->
<!--							<a href="activity.html" style="margin-left: 20px;">2019</a>-->
<!--							<a href="activity.html" style="margin-left: 20px;">2018</a>-->
<!--						</li>-->
<!--						<li>-->
<!--							<a href="activity.html">2017</a>-->
<!--							<a href="activity.html" style="margin-left: 25px;">2016</a>-->
<!--						</li>-->
						
						
					</ul>
				</div>
				
			</div>
<!--			<div th:inline="text">-->
<!--				当前[[${pageInfo.pageNum}]]页，总[[${pageInfo.pages}]]页，总[[${pageInfo.total}]]条记录-->
<!--			</div>-->
			
<!--			<div class="page_number_div">-->
<!--				<a href="activity.html" class="page_number_live" >1</a>-->
<!--				<a href="activity.html" class="page_number" onClick="changePage()">2</a>-->
<!--				<a href="activity.html" class="page_number">3</a>-->
<!--				<a href="activity.html" class="page_number">4</a>-->
<!--				<a href="activity.html" class="page_number">5</a>-->
<!--				<a href="activity.html" class="page_number">6</a>-->
<!--				<a href="activity.html" class="page_number">7</a>-->
<!--				<a href="activity.html" class="page_number">8</a>-->
<!--				<a href="#" class="page_number">></a>-->
<!--			</div>-->
<!--			<div class="page_number_div">-->


				<div class="page_number_div">
        <span class="pageinfo">
            共<label id="total" th:text="${pageInfo.total}"></label>条/
            <label th:text="${pageInfo.pages}" style="color: red"></label>页
        </span>

					<a th:href="@{${pageRequest}(pageNum=${1})}"  >首页</a>
					<a th:if="${pageInfo.pageNum>1}" th:href="@{${pageRequest}(pageNum=${pageInfo.pageNum - 1})}" >上一页</a>

					<b th:each="nav:${pageInfo.navigatepageNums}">
						<a th:href="@{${pageRequest}(pageNum=${nav})}" class="page_number" th:text="${nav}" th:if="${nav != pageInfo.pageNum}"></a>
						<a href="#" class="page_number_live" th:if= "${nav == pageInfo.pageNum}" th:text="${nav}"></a>
					</b>

					<a th:if="${pageInfo.pageNum<pageInfo.pages}"  th:href="@{${pageRequest}(pageNum=${pageInfo.pageNum + 1})}"> 下一页</a>
					<a th:href="@{${pageRequest}(pageNum=${pageInfo.pages})}">尾页</a>
				</div>












		</div>
	</div>
	<div th:replace="_fragments :: footer" class="footer">
		<div>
			<div>
				<h4>24小时客服服务</h4>
				<ul>
					<li class="phone-num">
						512-943-1069 <br> 512-943-1068
					</li>
					<li class="email">
						<a href="#">info@163.com</a>
					</li>
					<li class="address">
						青岛市南区 <br> 漳州二路
					</li>
				</ul>
			</div>
			<div>
				<h4>最近推送</h4>
				<ul>
					<li>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris fringilla elementum magna.
						</p>
						- <span><a href="blog.html">1天前</a></span>
					</li>
					<li>
						<p>
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
						</p>
						- <span><a href="blog.html">2天前</a></span>
					</li>
				</ul>
			</div>
			<div class="connect">
				<h4>联系我们</h4>
				<a href="#" id="facebook">Facebook</a> <a href="#" id="twitter">推特</a> <a href="#" id="googleplus">谷歌+</a>
				<form action="index.html">
					<h4>通讯注册</h4>
					<input type="text" value="电子邮件" onblur="this.value=!this.value?'Enter email address':this.value;" onfocus="this.select()" onclick="this.value='';">
					<input type="submit" id="submit" value="">
				</form>
			</div>
		</div>
		<div>
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="about.html">新闻</a>
				</li>
				<li>
					<a href="programs.html">活动</a>
				</li>
				<li>
					<a href="gallery.html">图库</a>
				</li>
				<li>
					<a href="contact.html">联系我们</a>
				</li>
				<li>
					<a href="blog.html">日志</a>
				</li>
			</ul>
			<p>
				&#169; 2020 自然有你 rights reserved&nbsp;
			</p>
		</div>
	</div>
	<script>

	</script>
</body>
</html>